body {
  background-color: #eaf7ea;
  height: 100%;
  font-family: sans-serif;

}

.navbar {
  background-color: #2e8b57;
  color: white;
  padding: 10px;
  text-align: center;
}

.footer {
  background-color: #2e8b57;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.box {
  border: 5px solid #2e8b57;
  border-radius: 10px;
  padding: 20px;
  min-height: 385px;
}

.question {
  font-size: 24px;
  margin-bottom: 20px;
}

.option {
  text-align: center;
}

.option-box {
  padding: 10px;
  margin-bottom: 10px;
  max-height: 250px;
}

.option img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.option p {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0;
}

.btn-primary {
  background-color: #2e8b57;
  border-color: #2e8b57;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #3ca374;
}

.ftext{
  background-color: rgba(241, 241, 241, 0.781);
  border-radius: 10px;
  box-shadow: 5px 10px 8px #0000006b;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
}

.ftext h2{
  font-weight: bold
}

.ptext {
  margin-left: 5%;
  margin-right: 5%;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.gentle-tilt-move-shake {
  cursor: pointer;
  user-select: none;
}

.gentle-tilt-move-shake:hover {
  animation: tilt-n-move-shaking 0.5s infinite;
}

.hexagon {
  background-color: #2e8b57;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.inner-hexagon {
  background-color: #d0d7d3;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
  transform: scale(0.97);
}

.blur {
  animation: blurEffect 1s forwards;
}

#answerContainer {
  height: 82.5%;
  font-size: large;
}


#content {
  height: calc(100vh - 136px);
}

#recipeButton {
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  margin-bottom: 15px;
}

#foodContainer {
  position: relative;
  padding-bottom: 35px;
  background-color: rgb(185, 238, 185);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 10px 8px #0000006b;
}

#foodContainer:hover{
  box-shadow: 5px 10px 8px #2b2b2b;
}

.foodDesc{
  padding: 15px;
}

.foodDesc h4{
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
}

.foodDesc p{
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fancy {
  --b: 6px;
  --w: 80px;
  --g: 15px;
  --c: #0B486B;

  width: fit-content;
  padding: 0 1em;
  line-height: 1.6em;
  border: 1px solid;
  color: #fff;
  background:
    conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
    conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image:
    linear-gradient(#0000 calc(50% - var(--b)/2),
      var(--c) 0 calc(50% + var(--b)/2),
      #0000 0) 1/0 var(--w)/calc(var(--w) + var(--g));
  margin-inline: auto;
}

#light-green{
  padding-bottom: 100px;
  background-image: url(img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 25px;
} 

#mealContainer {
  border: 3px solid #000;
  position: relative;
  border-radius: 10px;
  padding: 60px;
  padding-bottom: 30px;
  margin-top: 50px;
  background-color: rgba(146, 241, 146, 0.8);
}
#reloadButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2e8b57;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#reloadButton:hover {
  background-color: #3ca374;
}

#title {
  position: absolute;
  top: -30px;
  left: -22px;
  background-color: white;
  padding: 0 10px;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 5px;
}

#cardIMG{
  object-fit: cover;
}

#shuu{
  background-image: url(img/question-bg.jpg);
  overflow: auto;
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(2px, 2px) rotate(2deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-2px, 2px) rotate(-2deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes blurEffect {
  0% { filter: blur(0px); }
  50% { filter: blur(10px); }
  100% { filter: blur(0px); }
}