body {
    background-color: #eaf7ea; 
  }
  .navbar {
    background-color: #2e8b57; 
    color: white;
    padding: 10px;
    text-align: center;
  }
  .footer {
    background-color: #2e8b57; 
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .box {
    border: 5px solid #2e8b57; 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .question {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .option {
    text-align: center;
  }
  .option-box {
    border: 2px solid #2e8b57; 
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .option img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  .option p {
    margin: 0;
  }
  .btn-primary {
    background-color: #2e8b57;
    border-color: #2e8b57;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #3ca374;
}
.ftext{
  margin-top: 5%;
}